<header>
    <div></div>
    <div class="header">
        <h1>TAMADUNI</h1>
    </div>

</header>
<div style="text-align: center;">
    <div class="manifesto">
        <div class="culture">
            <p class="begin" style="text-align: left;">what makes culture...</p>
        </div>


        <div class="typewriter">
            <div id="i1" class="img"><img src="css/images/shapes/square.png" alt=""></div>

            <p style="width: 50%;" class="memory">memory?</p>
        </div>
        <div class="typewriter">
            <div id="i2" class="img"><img src="css/images/shapes/triangle.png" alt=""></div>

            <p style="width: 50%; " class="energy">energy!?</p>
        </div>
        <div class="typewriter">
            <div id="i3" class="img"><img src="css/images/shapes/circle.png" alt=""></div>

            <p style="width: 50%;" class="now">patterns??</p>
        </div>
    </div>
</div>
<br>
<div class="comment">
    <p class="comment">we're currently developing our <a style="text-decoration: underline;">plan of action</a> and the
        website пе_пе</p>
</div>
<div class="inspirations">
    <div>

        <h3 class="wait">BUT WHILE YOU WAIT... <br> HERE'S SOME INSPIRATION</h3>
    </div>
    <div class="content">
        <iframe src="https://player.vimeo.com/video/348304224" width="1280" height="720" frameborder="0"
            allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/348304224">AFRONAUTS</a> from <a
                href="https://vimeo.com/vernacmedia">vernac.media</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <br>
    <div class="content">

        <iframe src="https://player.vimeo.com/video/258826223?color=ffffff&badge=0" width="1280" height="720"
            frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/258826223">Black 14</a> from <a href="https://vimeo.com/topicstories">Topic</a> on
            <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <br>
    <div class="content">

        <iframe src="https://player.vimeo.com/video/243189898?color=0079c1&badge=0" width="1280" height="800"
            frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/243189898">The Deep Place</a> from <a href="https://vimeo.com/ijm">International
                Justice Mission</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <div></div>
    <div class="footer">
        <h3>action plan</h3>
        <h3>reading list</h3>
        <h3>our philosophy</h3>


    </div>
</div>