
    
        <header>
            <div class="header">
                <h1>TAMADUNI</h1>
            </div>
        </header>
        <div style="text-align: center;">
        <div class="manifesto">
            <div class="typewriter"><p class="memory">culture is memory</p></div>
            <div class="typewriter"><p class="energy">culture is energy</p></div>
            <div class="typewriter"><p class="now">culture is now</p></div>
        </div>
        </div>
        <div>
            <h3 class="wait">WHILE YOU WAIT...</h3>
        </div>
        <div class="inspirations">
            <div class="content"> 
                <iframe src="https://player.vimeo.com/video/348304224" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p><a href="https://vimeo.com/348304224">AFRONAUTS</a> from <a href="https://vimeo.com/vernacmedia">vernac.media</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
            <div class="content"> 
            
                <iframe src="https://player.vimeo.com/video/258826223?color=ffffff&badge=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p><a href="https://vimeo.com/258826223">Black 14</a> from <a href="https://vimeo.com/topicstories">Topic</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
            <div class="content"> 
            
            <iframe src="https://player.vimeo.com/video/243189898?color=0079c1&badge=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <p><a href="https://vimeo.com/243189898">The Deep Place</a> from <a href="https://vimeo.com/ijm">International Justice Mission</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div>
