h1{
    font-family: "Rhode-Extended";
    font-size: 200%;
    color: #ffeb3b;
    width: 70%;
    border: none;
}
h2{
    text-decoration: underline;
}
h3{
    font-size: 100%;
    color: #ffeb3b;
    border: none;
    display: block;
}
html{
    font-family: "LeagueSpartan";   
    color: wheat;
}
p{
    padding-bottom: 2%;
    width: 100%;
}