@font-face {
    font-family: "LeagueSpartan";
    src: url('fonts/league-spartan/LeagueSpartan-Bold.otf');
}
@font-face {
    font-family: "Cremona";
    src: url('fonts/Cremona-Sans-Typeface/Cremona.ttf');
}
@font-face {
    font-family: "Rhode-Wide";
    src: url('fonts/Rhode/RhodeMediumWide.ttf');
}
@font-face {
    font-family: "Rhode-Extended";
    src: url('fonts/Rhode/RhodeMediumExtended.ttf');
}
@font-face {
    font-family: "Shrimp";
    src: url('fonts/SHRIMP.ttf');
}
@font-face {
    font-family: "Amplitude";
    src: url('fonts/amplitudewide-bold.ttf');
}
html{
    background-color: #222020;

}
h1.header{
    font-family: "cultureregular";
    background-color: wheat;
    background:#FFF6EA;
    color: #222020;
    text-align: center;
    font-size: 100%;
}
p{
    font-family: "cultureregular";
    font-size: 900%;
    color: #fdfdfb;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    border: 0;
}
.culture{
    color:#2EAAB3;
    letter-spacing: 5px;
    font-size: 112.5%;
}
.spirit{
    -webkit-text-stroke: 1px #9FC7AA;
    color:transparent;
}
.must{
    font-size: 90%;
}
.transcends{
    text-decoration: underline;
}
.individual{
    color:#9690cf;
}
.att{
    background-color: #FFEDA1;
    color: #0B5884;
}
.arrow{
    -webkit-text-stroke: 1px #9cd0fa;
    color: transparent;
}

.volution{
    color: #E0CBAD;
}
.itude{
    color:#EC709A;
}
.form{
    color: #735240;
    background-color: bisque;
}
.read{
    font-size: 50%;
    color: whitesmoke;
}
.read:hover{
    color: pink ;

}
a{
    text-decoration: none;
}
a:hover{
    color: pink ;
}
